#pragma once

#define MIKRODMZ_DEVICE_KEY "PASTE_RAILWAY_DEVICE_API_KEY_HERE"
#define MIKRODMZ_TUNNEL_TOKEN "PASTE_RAILWAY_TUNNEL_TOKEN_HERE"
#define MIKRODMZ_SUPERDMZ_TOKEN "PASTE_SUPERDMZ_TOKEN_HERE"